<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>урок 1 vue</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container" id="app">
      <div class="card">
        <h1>{{ title }}</h1>
        <div class="form-control">
          <input
            type="text"
            :placeholder="placeholderString"
            :value="inputValue"
            @input="inputChangeHandler"
            @keypress.enter="addNewNote"
          />
        </div>
        <h2>inputValue: {{ inputValue }}</h2>
        <button class="btn" @click="addNewNote">Добавить</button>
        <hr />
        <ul class="list" v-if="notes.length !== 0">
          <li class="list-item" v-for="(note, i) in notes">
            {{ note }}
            <button class="btn danger" @click="removeNote(i)">удалить</button>
          </li>
        </ul>
        <div v-else>Список заметок пуст</div>
        <hr />
        <div><strong>Общее количество: {{ notes.length }}, удвоенное: {{ doubleCountComputed }}</strong></div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
  </body>
</html>
